/* ============================= *
     -- Table of Contents -- 
* ============================= */

/**
  Table of Contents
  
  1. Foundations

  2. Base

*/

/* ============================= *
     -- Foundations -- 
* ============================= */

@import "_foundation/_all";

/* ============================= *
     -- Base -- 
* ============================= */

@import "base/reset";
@import "base/root";

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
}
